@model FlightsViewModel
@{
    ViewData["Title"] = "Flights";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1> 
    <div class="container-fluid">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Flight Name</th>
              <th scope="col">Departure</th>
              <th scope="col">Destination</th>
            </tr>
          </thead>
          <tbody>
          @foreach (var flight in Model.Flights)
          {
            <tr>
              <th scope="row">@flight.Id</th>
              <td>@flight.FlightName</td>
              <td>@flight.Departure?.Name</td>
              <td>@flight.Destination?.Name</td>
            </tr>
          } 
          </tbody>
        </table>
    </div>
</div>
 